#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.playerComponent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.players {
  border: 1px solid rgb(62, 62, 62);
  margin: 10px;
  padding: 20px;
  width: 300px;
  cursor: pointer;
}

.playerDetailsComponent {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.player-details-card {
  border: 1px solid rgb(62, 62, 62);
  padding: 20px;
  width: 500px;
}

.go-back {
  position: absolute;
  left: 30px;
  top: 40px;
}

.back-icon {
  color: white;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
}

.back-icon:hover {
  background-color: white;
  color: black;
}
