#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.playerComponent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.players {
  border: 1px solid rgb(62, 62, 62);
  margin: 10px;
  padding: 20px;
  width: 300px;
  cursor: pointer;
}

.playerDetailsComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  gap: 20px;
}

.player-details-card {
  border: 1px solid rgb(62, 62, 62);
  padding: 20px;
  width: 400px;
}

.go-back {
  position: absolute;
  left: 30px;
  top: 40px;
}

.back-icon {
  color: white;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
}

.back-icon:hover {
  background-color: white;
  color: black;
}

.similar-players {
  border: 1px solid rgb(62, 62, 62);
  padding: 20px;
  width: 400px;
}

.player-name {
  cursor: pointer;
}

.filter-container {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 20px;
}

.card-body {
  width: 400px;
  cursor: pointer;
  background-color: #2a2a2a;
  transition: transform 0.3s ease;
}

.card-body:hover {
  cursor: pointer;
  background-color: #212121;

  transform: scale(1.3);

  z-index: 9999;
}

.player-name:hover {
  color: rgb(255, 255, 255);
}
